@import '~bootstrap/dist/css/bootstrap.min.css';

.menu {
    background-color: #cb613f;
}
.menu img {
    height: 100px;
    padding: 10px;
}
.menu .item {
    height: 100px;
    display: flex;
    align-items: center;
}
.menu .item a {
    color: #f7e9e2;
    text-decoration: none;
}